<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="petStore" class="com.focus.spring.service.v2.impl.PetStoreServiceImpl">
        <property name="accountDao" ref="accountDao"/>
        <property name="itemDao" ref="itemDao"/>
        <property name="owner" value="alongso"/>
        <property name="version" value="2"/>
        <property name="flag" value="yes"/>
    </bean>

    <bean id="accountDao" class="com.focus.spring.dao.v2.AccountDao"/>
    <bean id="itemDao" class="com.focus.spring.dao.v2.ItemDao"/>
</beans>